@import '../utils/index';
@import '../colors';

.game-container {
  margin-bottom: 20px;
  .controls {
    margin: 40px;
    @include prefix-argument(display, flex);
    @include prefix-property(flex-flow, row nowrap);
    @include prefix-property(justify-content, space-between);
    .button {
      display: block;
      padding: 8px 16px;
      border-radius: 16px; 
      span {
        font-weight: bold;
      }
    } 
  }

  .left-controls {
  }

  .center {
    text-align: center;
    color: #aaa;
  }

}
