
@import 'utils/index';
@include meyer-reset();


@import 'colors';
@import 'typography';
@import 'views/index';

* {
  box-sizing: border-box; 
}

html, body {
  background: #fcfcfc;
}

a {
  text-decoration: none;
  color: white;
  &:visited {opacity: 0.5;}
}

.logo {
  font-weight: 600;
  text-align: center;
  margin: 0 -20px 20px 0;

  @for $i from 0 through 12 {
    .char-#{$i} {
      display: inline-block;
      vertical-align: middle;        
      @if $i % 4 == 0 {
        color: $red;
        background: transparentize(lighten($red, 20%), 0.9);
      } @else if $i % 3 == 0 {
        color: $blue;
        background: transparentize(lighten($blue, 20%), 0.9);
      } @else {
        color: $green;
        background: transparentize(lighten($green, 20%), 0.9);
      }
      width: 50px;
      border-radius: 4px;
      padding-top: 5px;
      height: 50px;
      margin-left: -20px;
    }
  }

}

.button {
  $size: 16px;
  padding: $size $size*2;
  border-radius: 4px;
  background-color: $blue;
  &:hover { background-color: darken($blue, 5%); }
  &:active { background-color: darken($blue, 10%); box-shadow: inset 0px 0px 8px rgba(0,0,0,0.3); }
}
