<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Concentration!</title>
  <link rel="stylesheet" href="styles/app.css">
  <script src="./scripts/lib/tweenmachine.js"></script>
  <script src="./scripts/lib/angular/angular.js"></script>
  <script src="./scripts/lib/angular-animate/angular-animate.js"></script>
  <script src="./scripts/lib/angular-sanitize/angular-sanitize.js"></script>
  <script src="./scripts/lib/lodash/dist/lodash.compat.js"></script>
  <script src="./scripts/app.js"></script>
  <script type="text/javascript" src="//use.typekit.net/uib5rpq.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body ng-app="App">
<div class="game-container" ng-controller="GameController">
  <div class="scores" ng-if="showScores">
    <h2>Matches Made</h2>
    <ul>
      <li ng-repeat="match in gameState.completeMatches">
        <img ng-src="{{cardify(match).picture}}" alt="">
        <p ng-bind="cardify(match).name"></p>
      </li>
    </ul>
  </div>

  <div class="controls">
    <div class="left-controls">

      <a href="/logout" class="button logout"><img ng-src="{{user.pictureUrl}}" alt="">Logout</a>
    </div>
    <div class="center">
      <h1 ng-bind-html="'Concentration' | lettering" class="logo"></h1>  
      <p>Hi, <span ng-bind="user.firstName"></span>! Flip cards and match a name to a face!</p>
    </div>
    <div class="right-controls">
      <a class="button" ng-click="showScores = !showScores">Score: <span ng-bind="gameState.score"></span></a>
    </div>
    
  </div>
  <div class="deck">
    <card info="card" state="gameState" ng-repeat="card in decks.current.all()"></card>
  </div>
  <div class="bottom-controls" ng-hide="decks.current.names.length < pageSize">
    <a ng-click="next()" class="button next">Next Group &rarr;</a>
  </div>
</div>
</body>
</html>
